.field{
  width: 800px;
  padding-bottom: 20px;
}

.colour-border{
  border: 3px solid rgb(0, 26, 255);
  padding: 20px;
}

.header{
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  float: center;
  width: 800px;
}
