.field{
  width: auto;
  padding-bottom: 10px;
}

.colour-border{
  border: 4px solid rgba(255, 0, 47, 0.543);
  padding: 20px;
}

.header{
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 50px 20px;
  float: center;
  width: auto;
}
