.field{
  width: 800px;
  padding-bottom: 20px;
}

.colour-border{
  border: 1px solid rgba(0, 255, 128, 0.543);
  padding: 20px;
}

.header{
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 50px 20px;
  float: center;
  width: 1800px;
}
